          <div class="uk-width-medium-1-3 main-choice">
            <div class="uk-panel uk-panel-header uk-panel-space">
              <h3 class="uk-panel-title">Make something</h3>
              <p><a href="https://twitter.com/HackOmaha">Hack Omaha</a> is a competition focusing on bootstrapping new civic tools for citizens at the state and local level.  This year's event is November 22-24.  <a href="https://twitter.com/HackOmaha">sign up coming soon</a>.  More about <a href="http://www.siliconprairienews.com/tags/hack-omaha">past events</a>.</p>
            </div>
          </div>
