---
layout: default
---

      <!-- BEGIN grid wrapper -->
      <div class="uk-container uk-container-center green-band">
        <div class="uk-grid">

          <div class="uk-width-medium-2-3 uk-grid-margin">
            <article class="uk-article">
              <h1 class="uk-article-title">{{ page.title }}</h1>
              <p class="uk-article-meta">Written by {{ page.author }} on {{ page.date | date_to_string }}</p>
              <p class="uk-article-lead">{{ page.lead }}</p>
              {{ content }}

              <hr class="uk-article-divider">
              <p>
              {% for category in page.categories %}
                <span class="uk-badge">{{category}}</span>
              {% endfor %}
              </p>
            </article>
          </div>

{% include sidebar_about.html %}

        </div>

      </div>
      <!-- END grid wrapper -->

